# MacOS dust
.DS_Store

# Rust target
target/

# Monorepo workspace
monorepo/

# `optimism-package` workspace
optimism-package/

# Environment Variables
.env

# kona-host data-dir
data/

# FPVM artifacts
./state.bin.gz
./meta.json
./out.json

# Prestate artifacts
prestate-artifacts-*
